@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

@function rem($pixels) {
    $pixels: strip-unit($pixels);
    @return ($pixels / 16) * 1rem;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



@mixin element-padding {
  padding: var(--inner-padding-horizontal) var(--inner-padding);
}
